<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<H1 align="center" style="color: black;font-style: italic;">Top 5 forms:</H1>
<table border="1" align="center">
    <th:block th:each="form:${forms}">
        <tr>
            <th th:text="${form}"></th>
        </tr>
    </th:block>

</table>


</body>
</html>