<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<H1 align="center" style="color: black;font-style: italic;">Users and forms:</H1>
<table border="1" align="center">
    <tr>
        <td>User ID</td>
        <th>Form ID</th>
    </tr>
    <th:block th:each="id:${users.keySet()}">
        <tr>
            <th th:text="${id}"></th>
            <th>
                <th:block th:each="user:${users.get(id)}">
                    <p th:text="${user.getFormId() + ', '}"></p>
                </th:block>
            </th>
        </tr>
    </th:block>

</table>


</body>
</html>